*
!.gitignore
!app.yaml
!auth.yaml
!broadcasting.yaml
!cache.yaml
!compile.yaml
!database.yaml
!extension.yaml
!filesystems.yaml
!image.yaml
!mail.yaml
!module.yaml
!queue.yaml
!services.yaml
!session.yaml
!view.yaml
